:root {

    /* цвета */
    --colorBiscay: #1F3F68;
    --colorAzure: #316099;
    --colorAstral: #356EAD;
    --colorDanube: #5A98D0;
    --colorWhite: #FFF;

    /* отступы */
    --paddingTopBottom: 170px;
    --paddingLeftRight: 0;
}


@media (width <= 1200px) {
    :root {
        --paddingTopBottom: 40px;
        --paddingLeftRight: 50px;
    }
}
